.right-con-myorder {
    padding: 35px 50px 20px;
    min-height: 600px;
    width: 910px;
    float: left;
    background-color: #fff;
    margin-bottom: 30px;
}
.right-con h2 {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
.right-con-myorder h2 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: -10px;
}
.order-select li {
    float: left;
    width: 82px;
    height: 32px;
    border: 1px solid #bdbdbd;
    border-left: 0;
    
    text-align: center;
    line-height: 32px;
}
.order-select li a {
    font-size: 12px;
    color: rgba(0,0,0,.45);
}
.order-select li:first-child {
    border: 1px solid #bdbdbd;
}
.order-select-active {
    background-color: #52c41a;
}
.order-select .order-select-active a {
    color: #fff;
}
/* 订单头部 */
.order-hd {
    width: 100%;
    height: 40px;
    background-color: #ddd;
    margin-top: 30px;
    margin-bottom: 20px;
}
.order-hd ul li {
    float: left;
    font-size: 12px;
    height: 40px;
    color: #666;
    margin-right: 55px;
    line-height: 40px;
}
.order-hd ul li:first-child {
    margin-left: 10px;
    margin-right: 538px;
}
/* 订单主体部分 */
/* 整个订单结构 */
.order-box {
    width: 100%;
    margin-bottom: 30px;
}
.order-box-hd {
    width: 100%;
    height: 40px;
    background-color: #fafafa;
}
.order-box-hd ul li {
    float: left;
    font-size: 12px;
    color: #666;
    line-height: 40px;
}
.order-box-hd ul li:nth-child(2n+1) {
    margin: 0 8px 0 14px;
}
.order-box-hd ul li span {
    font-size: 14px;
    color: #ff0011;
}
.look-more {
    color: #333;
    opacity: .8;
}
.order-box-bd {
    border: 1px solid #bdbdbd;
}
.order-box-bd ul li {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #bdbdbd;
    padding: 10px;
}
.order-box-bd ul li:last-child {
    border-bottom: 0;
}
.order-box-img {
    width: 60px;
    height: 60px;
    float: left;
    border: 1px solid #ccc;
}
.order-box-img img {
    width: 100%;
    height: 100%;
}
.order-box-title {
    float: left;
    width: 466px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 60px;
    color: #333;
    margin-left: 5px;
}
.order-box-bd span {
    float: left;
    line-height: 60px;
}
.danjia {
    margin-left: 20px;
}
.shuliang {
    margin: 0 64px;
}