<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin公共</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/admin/adminCommon.css">
</head>
<body>
    <!-- <div class="top-bar">
        https://www.cnblogs.com/weibanggang/p/12805752.html
    </div> -->
    <div class="top-bar">
        <h1>Mall后台管理系统</h1>
        <div class="bar-wrapper">
            <p>Mall后台</p>
            <a href="javascript:;">前台首页</a>
            <span>admin</span>
        </div>
    </div>
    <div class="main">
        <div class="slide">
            <ul>
                <li>
                    <span class="slide-ico">&#xe602;</span>
                    <p>用户管理</p>
                    <span class="arrow">&#xe71a;</span>
                </li>
                <li>
                    <span class="slide-ico">&#xe600;</span>
                    <p>商品管理</p>
                    <span class="arrow">&#xe71a;</span>
                </li>
                <li>
                    <span class="slide-ico">&#xe607;</span>
                    <p>订单管理</p>
                    <span class="arrow">&#xe71a;</span>
                </li>
            </ul>
        </div>
        <div class="con">

        </div>
    </div>
</body>
</html>