<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block 'title'}}{{/block}}</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin/adminCommon.css">
    {{block 'link'}}{{/block}}

    <script src="/js/jQuery.js"></script>
    {{block 'script'}}{{/block}}

</head>
<body>
    <!-- <div class="top-bar">
        https://www.cnblogs.com/weibanggang/p/12805752.html
    </div> -->
    <div class="top-bar">
        <h1>Mall后台管理系统</h1>
        <div class="bar-wrapper">
            <p>Mall后台</p>
            <a href="/home/index">前台首页</a>
            <span>admin</span>
        </div>
    </div>
    <div class="main">
        <!-- 分页器 -->
        {{if currentPage == 'productManage'}}
        <div class="pagination">
            {{if page > 1}}
            <a href="/admin/productManagePage?page={{page-1}}&searchStatus={{searchStatus}}&searchCategory={{searchCategory}}" >上一页</a>
            {{/if}}
            {{each pages}}
            <a href="/admin/productManagePage?page={{$value}}&searchStatus={{searchStatus}}&searchCategory={{searchCategory}}" class="{{$value == page ? 'pageActive' :''}}">{{$value}}</a>
            {{/each}}
            {{if page-0 != pages.length - 0}}
            <a href="/admin/productManagePage?page={{page-0+1}}&searchStatus={{searchStatus}}&searchCategory={{searchCategory}}">下一页</a>
            {{/if}}
        </div>
        {{else if currentPage == 'userManage'}}
        <div class="pagination">
            <a href="#" class="pageActive">上一页</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">下一页</a>
        </div>
        {{/if}}
        <!-- 分页器部分结束 -->

        <!-- 左侧列表导航 -->
        <div class="slide">
            <ul>
                <li class="{{currentPage == 'userManage' ? 'slide-active' : ''}}">
                    <!-- <li class="slide-active"> -->
                    <a href="/admin/userManagePage">
                        <span class="slide-ico">&#xe602;</span>
                        <p>用户管理</p>
                        <span class="arrow">&#xe71a;</span>
                    </a>
                </li>
                <li class="{{currentPage == 'productManage' || 'productAddPage' ? 'slide-active' : ''}}">
                    <a href="/admin/productManagePage?page=1">
                        <span class="slide-ico">&#xe600;</span>
                        <p>商品管理</p>
                        <span class="arrow">&#xe71a;</span>
                    </a>
                </li>
                <li class="{{currentPage == 'orderManage' ? 'slide-active' : ''}}">
                    <a href="/admin/orderManagePage">
                        <span class="slide-ico">&#xe607;</span>
                        <p>订单管理</p>
                        <span class="arrow">&#xe71a;</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 右侧主体内容 -->
        <div class="con">
            <!-- 记录当前位置 -->
            <div class="crumb">
                
                {{block 'crumb'}}
                {{/block}}
            </div>

            {{block 'content'}}
            {{/block}}
        </div>
    </div>
</body>
</html>