{{extend './adminCommon.html'}}

{{block 'title'}}商品编辑页{{/block}}

{{block 'link'}}
<link rel="stylesheet" href="/css/admin/productEdit.css">
{{/block}}

{{block 'script'}}
<script src="/js/admin/productEdit.js"></script>
{{/block}}

{{block 'crumb'}}
<span>首页</span>
                <i>|</i>
                <span>商品管理</span>
                <i>|</i>
                <span>商品添加</span>
{{/block}}

{{block 'content'}}
<!-- 内容主体 -->
<div class="main-con">
    <div class="wrap">
    <form action="/admin/productAdd" method="POST" enctype="multipart/form-data">
      <!-- <div class="wrap-line">
        <span class="wrap-left"><label for="">商品ID</label></span>
        <span class="wrap-right"> <input type="text"  disabled class="w610" value="{{pro ? pro.id : '不可输入'}}"></span>
      </div> -->
      <div class="wrap-line">
        <span class="wrap-left"><label for="">商品名称</label></span>
        <span class="wrap-right"> <input type="text" value="" class="w610" name="title"></span>
      </div>
      <div class="wrap-line">
        <span class="wrap-left"><label for="">商品类目</label></span>
        <span class="wrap-right">
          <select name="category"  class="w185">
            <option value="">未选择</option>
            <option value="手机通讯">手机通讯</option>
            <option value="食品生鲜">食品生鲜</option>
            <option value="汽车保养">汽车保养</option>
            <option value="内衣配饰">内衣配饰</option>
            <option value="母婴童装">母婴童装</option>
            <option value="美妆护肤">美妆护肤</option>
            <option value="酒水饮料">酒水饮料</option>
            <option value="家用电器">家用电器</option>
            <option value="电脑耗材">电脑耗材</option>
          </select>
        </span>
      </div>
      <div class="wrap-line">
        <span class="wrap-left"><label for="">商品规格</label></span>
        <div class="wrap-right">
          <input type="text" class="guige-text" value="" onkeydown="if(event.keyCode==13){return false;}">
          <div class="guige-add">点击添加</div>
        </div>
      </div>
      <div class="wrap-line">
        <span class="wrap-left"><label for="">商品库存</label></span>
        <span class="wrap-right"> <input type="text" value=""  class="w185" name="stock"></span>
      </div>
      <div class="wrap-line">
        <span class="wrap-left"><label for="">商品价格</label></span>
        <span class="wrap-right"> <input type="text" value=""  class="w185" name="price">&nbsp;元</span>
      </div>
      <div class="wrap-line">
        <span class="wrap-left"><label for="">商品状态</label></span>
        <span class="wrap-right">
          <select name="status"  class="w185">
            <option value="0">在售</option>
            <option value="1">下架</option>
          </select>
        </span>
      </div>
      <div class="wrap-line">
        <span class="wrap-left"><label for="">商品主图</label></span>
        <div class="wrap-right">
            <div class="pro-img-box">
                <img class="pro-img" src="">
                <div class="pro-img-edit">上传<input type="file" name="images1" class="pro-file"></div>
                <div class="pro-img-del">删除</div>
            </div>
            <div class="pro-img-box">
                <img class="pro-img" src="">
                <div class="pro-img-edit">上传<input type="file" name="images2" class="pro-file"></div>
                <div class="pro-img-del">删除</div>
            </div>
            <div class="pro-img-box">
                <img class="pro-img" src="">
                <div class="pro-img-edit">上传<input type="file" name="images3" class="pro-file"></div>
                <div class="pro-img-del">删除</div>
            </div>
            <div class="pro-img-box">
                <img class="pro-img" src="">
                <div class="pro-img-edit">上传<input type="file" name="images4" class="pro-file"></div>
                <div class="pro-img-del">删除</div>
            </div>
            <div class="pro-img-box">
                <img class="pro-img" src="">
                <div class="pro-img-edit">上传<input type="file" name="images5" class="pro-file"></div>
                <div class="pro-img-del">删除</div>
            </div>
          <!-- <div class="img-cancel" title="取消添加">&#xe604;</div>
          <div class="img-add" title="点击添加图片">&#xe605;</div> -->
          <!-- &#xe604; 减号   &#xe605; 加号 -->
        </div>
      </div>
    <br>
      <div class="wrap-line">
        <span class="wrap-left"><label for="">商品详情</label></span>
        <div class="wrap-right">
            <div class="pro-detail-box">
                <img class="pro-detail" src="">
                <div class="pro-detail-edit">上传<input type="file" name="images5" class="pro-file"></div>
                <div class="pro-detail-del">删除</div>
            </div>
            <div class="pro-detail-box">
                <img class="pro-detail" src="">
                <div class="pro-detail-edit">上传<input type="file" name="images5" class="pro-file"></div>
                <div class="pro-detail-del">删除</div>
            </div>
            <div class="pro-detail-box">
                <img class="pro-detail" src="">
                <div class="pro-detail-edit">上传<input type="file" name="images5" class="pro-file"></div>
                <div class="pro-detail-del">删除</div>
            </div>
            <div class="pro-detail-box">
                <img class="pro-detail" src="">
                <div class="pro-detail-edit">上传<input type="file" name="images5" class="pro-file"></div>
                <div class="pro-detail-del">删除</div>
            </div>
            <div class="pro-detail-box">
                <img class="pro-detail" src="">
                <div class="pro-detail-edit">上传<input type="file" name="images5" class="pro-file"></div>
                <div class="pro-detail-del">删除</div>
            </div>
          <!-- <div class="detail-cancel" title="取消添加">&#xe604;</div>
          <div class="detail-add" title="点击添加图片">&#xe605;</div> -->
          <!-- &#xe604; 减号   &#xe605; 加号 -->
        </div>
      </div>
      <input type="submit" class="sub-btn" value="添加">
    </form>
    </div>
</div>
{{/block}}