{{extend './adminCommon.html'}}

{{block 'title'}}用户编辑页{{/block}}

{{block 'link'}}
<link rel="stylesheet" href="/css/admin/productEdit.css">
{{/block}}

{{block 'crumb'}}
<span>首页</span>
                <i>|</i>
                <span>商品管理</span>
                <i>|</i>
                <span>用户编辑</span>
{{/block}}

{{block 'content'}}
<!-- 内容主体 -->
<div class="main-con">
    <div class="wrap">
    <form action="/admin/userAdd" method="POST" enctype="multipart/form-data">
      <!-- <div class="wrap-line">
        <span class="wrap-left"><label for="">用户ID</label></span>
        <span class="wrap-right"> <input type="text" value="" disabled class="w610"></span>
      </div> -->
      <div class="wrap-line">
        <span class="wrap-left"><label for="">用户名</label></span>
        <span class="wrap-right"> <input type="text" value="" class="w610" name="username"></span>
      </div>
      <div class="wrap-line">
        <span class="wrap-left"><label for="">邮箱</label></span>
        <span class="wrap-right"> <input type="text" value="" class="w610" name="email"></span>
      </div>
      
      <div class="wrap-line">
        <span class="wrap-left"><label for="">手机号</label></span>
        <span class="wrap-right"> <input type="text" value=""  class="w610" name="phone"></span>
      </div>
      <div class="wrap-line">
        <span class="wrap-left"><label for="">密码</label></span>
        <span class="wrap-right"> <input type="password" value=""  class="w610" name="password"></span>
      </div>
      <div class="wrap-line">
        <span class="wrap-left"><label for="">订单数量</label></span>
        <span class="wrap-right"> <input type="text" value=""  class="w185" name="orders"></span>
      </div>
      
      <div class="wrap-line">
        <span class="wrap-left"><label for="">角色</label></span>
        <span class="wrap-right">
          <select name="role" id="" class="w185">
            <option value="admin">管理员</option>
            <option value="normal">普通用户</option>
          </select>
        </span>
      </div>
      <!-- <div class="wrap-line">
        <span class="wrap-left"><label for="">注册时间</label></span>
        <span class="wrap-right"> <input type="text" value=""  class="w185" disabled></span>
      </div> -->
      <div class="wrap-line">
        <span class="wrap-left"><label for="">用户头像</label></span>
        <div class="wrap-right">
          <div class="user-img">
            <img src="" class="user-img">
            <div class="user-img-change">更换
              <input type="file" name="avatar">
            </div>
          </div>
            
        </div>
      </div>
      <input type="submit" class="sub-btn" value="提交">
    </form>
    </div>
</div>
{{/block}}