{{extend './adminCommon.html'}}

{{block 'title'}}用户管理页{{/block}}

{{block 'link'}}
<link rel="stylesheet" href="/css/admin/userManage.css">
{{/block}}

{{block 'crumb'}}
<span>首页</span>
<i>|</i>
<span>用户管理</span>
{{/block}}

{{block 'content'}}
<!-- 内容主体 -->
<div class="main-con">
    
    <!-- 按照条件筛选搜索部分 -->
    <div class="searchBox"></div>
    <!-- 管理头部 -->
    <div class="manage-hd">
        <a href="javascript:;" class="del"><span>&#xe62c;</span> 批量删除</a>
        <a href="/admin/userAddPage" class="add"><span>&#xe620;</span> 添加</a>
        <p>共有数据：
            <span>60</span>条
        </p>
    </div> 
    <!-- 数据表格 -->
    <table>
        <tr>
            <td>用户ID</td>
            <td>用户名</td>
            <td>邮箱</td>
            <td>手机号</td>
            <td>订单数量</td>
            <td>头像</td>
            <td>角色</td>
            <td>注册时间</td>
            <td>操作</td>
        </tr>
        {{each users}}
        <tr>
            <td><p class="uid">{{@ $value._id}}</p></td>
            <td>{{$value.username}}</td>
            <td>{{$value.email}}</td>
            <td>{{$value.phone}}</td>
            <td>{{$value.orders}}</td>
            <td><img src="{{$value.avatar}}" alt=""></td>
            <td>{{$value.role}}</td>
            <td>{{moment($value.createdAt).format('YYYY-MM-DD HH:mm:ss')}}</td>
            <td>
                <a href="/admin/userModifyPage?id={{@ $value._id}}" class="edit-product">&#xe607;</a>
                <a href="/admin/userDel?id={{@ $value._id}}" class="del-product">&#xe62c;</a>
            </td>
        </tr>
        {{/each}}

    </table>
</div>
{{/block}}