.login1-box {
    height: 385px;
}
.login1-box h2 {
    margin-top: -5px;
    padding-bottom: 25px;
}
.re {
    bottom: 25px;
}
#errmsg {
    position: absolute;
    left: 50%;
    top: 55px;
    transform: translate(-50%);
    color: #ff0011;
    font-size: 14px;
}
.login1-btn {
    background-color: gray;
}