.shop-hd,
.shop-bd,
.shop-foo,
.shop-bd  ul li {
    width: 100%;
}
.shop-bd  ul li,
.shop-hd,
.shop-foo {
    position: relative;
}
.select-one,
.select-img,
.select-title,
.select-price,
.count-reduce,
.count,
.count-add,
.totle,
.del-product,
.del-ico {
    position: absolute;
}
.select-all {
    position: absolute;
}
.count-reduce,
.count,
.count-add {
  user-select: none;
}
/* 购物车头部 */
.shop-hd {
    height: 40px;
    background-color: #dddddd;
    padding-left: 26px;
    line-height: 40px;
    color: #666;
}
.shop-hd-left {
    float: left;
}
.shop-hd-left li:nth-child(1) {
    margin-left: 3px;
    margin-right: 40px;
}
.shop-hd li {
    float: left;
}
.shop-hd-right {
    float: right;
}
.shop-hd-right li {
    margin-right: 72px;
}
.se-hd {
    left: 13px;
    top: 14px;
}

/* 购物车商品展示主体部分 */
.shop-bd  ul li:first-child {
    margin-top: 16px;
}
.shop-bd  ul li {
    height: 80px;
    border: 1px solid #ddd;
    margin-bottom: 16px;
}

.select-one {
    width: 13px;
    height: 13px;
    outline: none;
    left: 12px;
    top: 33px;
}
.select-img {
    width: 60px;
    height: 60px;
    left: 75px;
    top: 10px;
}
.select-title {
    width: 510px;
    left: 148px;
    top: 31px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}
.select-price {
    font-size: 14px;
    color: #ff0011;
    left: 684px;
    top: 30px;
}
.count {
    width: 42px;
    height: 20px;
    left: 785px;
    top: 30px;
    border: 1px solid #ddd;
    outline: none;
    text-align: center;
}
.count-reduce,
.count-add {
    box-sizing: border-box;
    width: 22px;
    height: 20px;
    border: 1px solid #ddd;
    top: 30px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    color: #000;
    cursor: pointer;
}
.count-reduce {
    left: 763px;
    border-right: 0;
}
.count-add {
    left: 827px;
    border-left: 0;
}
.totle {
    font-size: 14px;
    color: #000;
    left: 876px;
    top: 30px;
    font-weight: 700;
}
.del-product {
    left: 990px;
    top: 31px;
}
.del-ico {
    font-family: 'iconfont';
    left: -16px;
    top: 2px;
    font-size: 14px;
}
/* 购物车底部合计价格部分 */
.shop-foo {
    height: 60px;
    background-color: #ddd;
    margin-bottom: 150px;
    padding-left: 26px;
    line-height: 60px;
}
.shop-foo .se-bd {
    left: 13px;
    top: 24px;
}
.del-seclect {
    position: relative;
}
.del-seclect-ico {
    position: absolute;
    font-family: 'iconfont';
    left: -15px;
    top: -21px;
} 
.shop-foo ul li {
    float: left;
    margin-left: 3px;
    margin-right: 55px;
}
.price-totle,
.price-totle-number,
.shop-foo button {
    float: right;
}
.price-totle-number {
    font-size: 20px;
    color: #ff0011;
    font-weight: 700;
}
.shop-foo button {
    width: 120px;
    height: 60px;
    border: 0;
    outline: none;
    background-color: #52c41a;
    margin-left: 25px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}