{{extend './layout.html'}}

        {{block 'title'}}商城-首页{{/block}}
        {{block 'link'}}
		<!-- 引入首页专有的css文件 -->
		<link rel="stylesheet" href="/css/index.css" />
		<!-- 引入swiper插件样式文件 -->
        <link rel="stylesheet" href="/css/swiper-bundle.css" />
        {{/block}}
        {{block 'script'}}
        <script src="/js/index.js"></script>
        {{/block}}
  


		{{block 'content'}}

        <!-- 首页专有部分开始 -->
		<!-- 焦点部分开始 -->
		<div class="focus w">
			<!-- 左侧导航栏 -->
			<ul class="silde-nav">
				<li>
                    <a href="javascript:;">手机通讯 <span class="right-arrow">&#xe7a7;</span></a>
                    <div class="child-cate">
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                        <div class="child-item">
                            <img src="/upload/1587973772260.jpg" alt="">
                            <p>小米手机</p>
                        </div>
                    </div>
				</li>
				<li>
					<a href="javascript:;"
                        >食品生鲜 <span class="right-arrow">&#xe7a7;</span></a>
                        <div class="child-cate">
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            
                            
                        </div>
				</li>
				<li>
					<a href="javascript:;"
                        >汽车保养 <span class="right-arrow">&#xe7a7;</span></a>
                        <div class="child-cate">
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            
                        </div>
				</li>
				<li>
					<a href="javascript:;"
                        >内衣配饰 <span class="right-arrow">&#xe7a7;</span></a>
                        <div class="child-cate">
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                           
                        </div>
				</li>
				<li>
					<a href="javascript:;"
                        >母婴童装 <span class="right-arrow">&#xe7a7;</span></a>
                        <div class="child-cate">
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                           
                        </div>
				</li>
				<li>
					<a href="javascript:;"
                        >美妆护肤 <span class="right-arrow">&#xe7a7;</span></a>
                        <div class="child-cate">
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                           
                            
                            
                        </div>
				</li>
				<li>
					<a href="javascript:;"
                        >酒水饮料 <span class="right-arrow">&#xe7a7;</span></a>
                        <div class="child-cate">
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            
                        </div>
				</li>
				<li>
					<a href="javascript:;"
                        >个护清洁 <span class="right-arrow">&#xe7a7;</span></a>
                        <div class="child-cate">
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            
                        </div>
				</li>
				<li>
					<a href="javascript:;"
                        >家用电器 <span class="right-arrow">&#xe7a7;</span></a>
                        <div class="child-cate">
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                        </div>
				</li>
				<li>
					<a href="javascript:;"
                        >电脑耗材 <span class="right-arrow">&#xe7a7;</span></a>
                        <div class="child-cate">
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            <div class="child-item">
                                <img src="/upload/1587973772260.jpg" alt="">
                                <p>小米手机</p>
                            </div>
                            
                        </div>
				</li>
			</ul>
			<!-- 右侧轮播图 -->
			<div class="focus-carousel">
				<!-- Swiper -->
				<div class="swiper-container focus-box">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="/images/carousel01.jpg" alt="" />
						</div>
						<div class="swiper-slide">
							<img src="/images/carousel02.jpg" alt="" />
						</div>
						<div class="swiper-slide">
							<img src="/images/carousel03.jpg" alt="" />
						</div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>

				<script src="/js/swiper-bundle.min.js"></script>

				<!-- Initialize Swiper -->
				<script>
					var swiper = new Swiper('.swiper-container', {
						cssMode: true,
						navigation: {
							nextEl: '.swiper-button-next',
							prevEl: '.swiper-button-prev',
						},
						pagination: {
							el: '.swiper-pagination',
						},
						mousewheel: true,
						keyboard: true,
						autoplay: true,
					})
				</script>
			</div>
		</div>
		<!-- 焦点部分结束 -->

		<!-- 热销推荐部分开始 -->
		<div class="recommend w">
			<div class="goods-box rec-hd">
				<h2>热销推荐</h2>
				<span class="rec-hd-ico">&#xe6b8;</span>
			</div>
			<a href="/home/product-detail?id=133" class="goods-box">
				<img src="/upload/1587973772260.jpg" class="goods-img" />
				<p class="goods-title">
					宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
				</p>
				<div class="goods-price">
					￥1599<span class="goods-price-old">￥1699</span>
				</div>
				<div class="goods-sold">
					<span class="goods-sold-num">12</span>人已购买
				</div>
			</a>
			<a href="javascript:;" class="goods-box">
				<img
					src="/upload/1595243507580.jpg"
					alt=""
					class="goods-img"
				/>
				<p class="goods-title">
					宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
				</p>
				<div class="goods-price">
					￥1599<span class="goods-price-old">￥1699</span>
				</div>
				<div class="goods-sold">
					<span class="goods-sold-num">12</span>人已购买
				</div>
			</a>
			<a href="javascript:;" class="goods-box">
				<img
					src="/upload/1595243848881.jpg"
					alt=""
					class="goods-img"
				/>
				<p class="goods-title">
					宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
				</p>
				<div class="goods-price">
					￥1599<span class="goods-price-old">￥1699</span>
				</div>
				<div class="goods-sold">
					<span class="goods-sold-num">12</span>人已购买
				</div>
			</a>
			<a href="javascript:;" class="goods-box">
				<img
					src="/upload/1595243903896.jpg"
					alt=""
					class="goods-img"
				/>
				<p class="goods-title">
					宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
				</p>
				<div class="goods-price">
					￥1599<span class="goods-price-old">￥1699</span>
				</div>
				<div class="goods-sold">
					<span class="goods-sold-num">12</span>人已购买
				</div>
			</a>
		</div>
		<!-- 热销推荐部分结束 -->

		<!-- 楼层部分开始 -->
		<div class="floor w">
            <div class="elevator">
                <ul>
                    <!-- <li class="ele-active">电脑耗材</li> -->
                    <!-- <li>家用电器</li>
                    <li>健身器材</li> -->
                </ul>
                <div class="backtop">&#xe632;</div>
            </div>
            <div class="floor1 fl-box">
                <div class="floor-hd">
                    <h3><a href="javascript:;">F1 电脑耗材</a></h3>
                    <a href="javascript:;" class="more">查看更多<span class="more-ico">&#xe71a;</span></a>
                </div>
                <div class="floor-bd clearfix">
                    {{each shouJiTongXunPros}}
                    <a href="javascript:;" class="goods-box">
                        <img src="{{$value.images[0]}}" class="goods-img" />
                        <p class="goods-title">
                            {{$value.title}}
                        </p>
                        <div class="goods-price">
                            ￥{{$value.price}}<span class="goods-price-old"></span>
                        </div>
                        <div class="goods-sold">
                            剩余<span class="goods-sold-num">{{$value.stock}}</span>件
                        </div>
                    </a>
                    {{/each}}

                    
                </div>
            </div>
            <div class="floor2 fl-box">
                <div class="floor-hd">
                    <h3><a href="javascript:;">F2 家用电器</a></h3>
                    <a href="javascript:;" class="more">查看更多<span class="more-ico">&#xe71a;</span></a>
                </div>
                <div class="floor-bd clearfix">
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                </div>
            </div> 
            <div class="floor2 fl-box">
                <div class="floor-hd">
                    <h3><a href="javascript:;">F3 健身器材</a></h3>
                    <a href="javascript:;" class="more">查看更多<span class="more-ico">&#xe71a;</span></a>
                </div>
                <div class="floor-bd clearfix">
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                    <a href="javascript:;" class="goods-box">
                        <img src="/upload/1587973772260.jpg" class="goods-img" />
                        <p class="goods-title">
                            宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                        </p>
                        <div class="goods-price">
                            ￥1599<span class="goods-price-old">￥1699</span>
                        </div>
                        <div class="goods-sold">
                            <span class="goods-sold-num">12</span>人已购买
                        </div>
                    </a>
                </div>
            </div>           
        </div>
        <!-- 楼层部分结束 -->
        <!-- 首页专有部分结束 -->
        {{/block}}
