<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block 'title'}}{{/block}}</title>
    <!-- 引入初始化css文件 -->
	<link rel="stylesheet" href="/css/base.css" />
	<!-- 引入公共样式css文件 -->
    <link rel="stylesheet" href="/css/common.css" />
    {{block 'link'}}{{/block}}
    <!-- 引入jQuery -->
    <script src="/js/jQuery.js"></script>
    <script src="/js/homeCommon.js"></script>
    {{block 'script'}}{{/block}}

</head>
<body>
    <!-- 顶部导航栏开始 -->
		<div class="top-bar">
			<div class="w">
				<div class="user-info">
                    {{if uname}}
					<p>欢迎<span class="username">{{uname}}</span></p>
                    <a href="/home/logout">退出</a>
                        {{else}}
					<a href="/home/login" class="user-login">登录</a>
                    <a href="/home/register" class="user-register">注册</a>
                    {{/if}}
				</div>
				<ul class="user-msg">
					<li>
						<a href="/home/shopCar?id={{@uid}}" class="shop-car">
							<span class="shopcar-ico">&#xe6b8;</span>购物车(<span class="count-num">0</span>)
            </a>
            <div class="shop-car-box">
              <h3>最近加入的宝贝</h3>
              <ul>
                <li class="shop-car-box-goods">
                  <img src="/upload/HUAWEI nova 5 Pro01.jpg" class="shop-car-box-img">
                  <div class="shop-car-box-tit"><a href="#">索尼（SONY）KD-55X8000G 55英寸 4K超高清 HDR 智能网络</a></div>
                  <span class="shop-car-box-price">￥1599</span>
                  <span class="shop-car-box-count">X 1</span>
                </li>
                <li class="shop-car-box-goods">
                  <img src="/upload/HUAWEI nova 5 Pro01.jpg" class="shop-car-box-img">
                  <div class="shop-car-box-tit"><a href="#">索尼（SONY）KD-55X8000G 55英寸 4K超高清 HDR 智能网络</a></div>
                  <span class="shop-car-box-price">￥1599</span>
                  <span class="shop-car-box-count">X 1</span>
                </li>
              </ul>
              <a href="#" class="shop-car-box-a">查看我的购物车</a>
            </div>
					</li>
					<li><a href="/home/user-center?id={{@uid}}">个人中心</a></li>
					<li><a href="/home/my-order?id={{@uid}}">我的订单</a></li>
				</ul>
			</div>
		</div>
		<!-- 顶部导航栏结束 -->

		<!-- 头部搜索框部分开始 -->
		<header>
			<div class="w">
				<!-- 头部左侧logo模块 -->
				<h1><a href="/home/" class="logo">TianMall</a></h1>
				<!-- 头部右侧搜索模块 -->
				<div class="search">
					<form action="">
						<input
							type="text"
							id="search-txt"
							placeholder="请输入商品名称关键词"
						/>
						<button type="submit" id="search-btn">搜索</button>
					</form>
					<ul class="nav-bar">
						<li>
							<a href="/home/" class="{{currentPage=='index' ? 'navbar-active' : ''}}">首页</a>
						</li>
						<li><a href="/home/list" class="{{currentPage=='allgoods' ? 'navbar-active' : ''}}">全部商品</a></li>
						<li><a href="/home/hot-goods" class="{{currentPage=='hotgoods' ? 'navbar-active' : ''}}">热卖商品</a></li>
					</ul>
				</div>
			</div>
		</header>
        <!-- 头部搜索框部分结束 -->
        
        {{block 'content'}}{{/block}}

        <!-- footer底部开始 -->
		<footer>
            <div class="w">
                <div class="foo-hd">
                    <ul>
                        <li><span class="foo-ico1">&#xe606;</span> 7天无理由退换货</li>
                        <li><span class="foo-ico2">&#xe90a;</span> 满99元全场免邮</li>
                        <li><span class="foo-ico3">&#xe669;</span> 100%品质保证</li>
                    </ul>
                </div>
                <div class="foo-bd">
                    <div class="company">
                        <a href="javascript:;">百度</a>
                        <a href="javascript:;">淘宝</a>
                        <a href="javascript:;">华为</a>
                    </div>
                    <p>© 2019 kuazhu.com 豫ICP备15027861号-2</p>
                </div>
            </div>
        </footer>
		<!-- footer底部结束 -->
</body>
</html>