{{extend './layout.html'}}
{{block 'title'}}修改密码{{/block}}
{{block 'link'}}
        <!-- 引入用户界面公共样式 -->
        <link rel="stylesheet" href="/css/user-common.css">
        <!-- 引入修改密码页专有css -->
        <link rel="stylesheet" href="/css/user-modify-password.css">
{{/block}}
{{block 'content'}}
        <!-- 修改密码部分开始 -->
        <div class="main">
            <div class="w">
                <!-- 记录当前位置导航 -->
                <div class="crumb">
                    <a href="javascript:;">首页</a><em>&#xe7a7;</em>
                    <span>修改密码</span>
                </div>
                <div class="wrapper">
                    <!-- 侧边导航 -->
                    <div class="slide-nav">
                        <ul>
                            <li><a href="/home/user-center?id={{@uid}}" class="">用户中心 <span class="slide-nav-ico">&#xe602;</span></a></li>
                            <li><a href="/home/user-settings?id={{@uid}}">基本设置 <span class="slide-nav-ico">&#xe62d;</span></a></li>
                            <li><a href="/home/my-order?id={{@uid}}" class="">我的订单 <span class="slide-nav-ico">&#xe634;</span></a></li>
                            <li><a href="/home/modify-password?id={{@uid}}" class="{{userCurrentPage =='modifyPassword' ? 'slide-nav-active' : ''}}">修改密码 <span class="slide-nav-ico">&#xe644;</span></a></li>
                        </ul>
                    </div>
                    <!-- 右侧内容 -->
                    <div class="right-con">
                        <div class="mod">
                            <form action="/home/modify-password" method="POST">
                                <p class="errmsg">{{errmsg && errmsg}}</p>
                                <p><span class="mod-ico">&#xe644;</span><input type="password" class="pwd" placeholder="请输入旧密码" id="oldpwd" name="oldpwd"></p>
                                <p><span class="mod-ico">&#xe644;</span><input type="password" class="pwd" placeholder="请输入新密码" id="pwd1" name="pwd1"></p>
                                <p><span class="mod-ico">&#xe644;</span><input type="password" class="pwd" placeholder="请再次输入新密码" id="pwd2" name="pwd2"></p>
                                <p><input type="submit" value="修改" class="mod-btn" disabled></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 修改密码部分结束 -->
{{/block}}
{{block 'script'}}
<script src="/js/modifyPassword.js"></script>
{{/block}}