{{extend './layout.html'}}
{{block 'title'}}商品详情页{{/block}}
{{block 'link'}}
        <!-- 引入商品详情页专有的css -->
        <link rel="stylesheet" href="/css/product-detail.css">
{{/block}} 
{{block 'script'}} 
        <script src="/js/product-detail.js"></script>
{{/block}} 
{{block 'content'}} 
        <!-- 商品详情页专有部分开始 -->
        <div class="detail">
            <div class="w">
                <!-- 记录当前位置导航 -->
                <div class="crumb">
                    <a href="javascript:;">首页</a><em>&#xe7a7;</em>
                    <span>商品详情页</span>
                </div>
                <!-- 商品图片与规格开始 -->
                <div class="product-intro">
                    <div class="bigimg"><img src="{{product.images[0].path}}" alt=""></div>
                    <div class="product-img">
                        <img src="{{product.images[0].path}}" alt="">
                        <div class="mask"></div>
                    </div>
                    <div class="product-guige">
                        <h2 class="product-title">{{product.title}}</h2>
                        <p class="product-info">{{product.title}}</p>
                        <div class="product-price">价格: <span>￥{{product.price}}</span></div>
                        <div class="product-stock">库存: <span>{{product.stock - product.sold}}</span></div>
                        <div class="product-color">颜色: 
                            <ul>
                                {{each product.attribute}}
                                <li class="">{{$value}}</li>
                                {{/each}}
                               
                            </ul>
                        </div>
                        <div class="product-number">数量: 
                            <span class="product-count-reduce">-</span>
                            <span class="product-count">1</span>
                            <span class="product-count-add">+</span>
                        </div>
                        <form action="/home/resultPage?id={{product.id}}" method="POST">
                            <input type="hidden" name="attr" id="attr">
                            <input type="hidden" name="num" id="pro-nnum">
                            <button type="submit" class="add-shopcar">添加购物车</button>
                        </form>
                        
                    </div>
                    <ul class="product-img-list">
                        {{each product.images}}
                            {{if $value.path}}
                                <li class=""><img src="{{$value.path}}" alt=""></li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
                <!-- 商品图片与规格结束 -->

                <!-- 商品详情介绍开始 -->
                <div class="detail-hd">
                    <ul>
                        <li class="detail-hd-active">商品详情</li>
                        <li>商品评价</li>
                        <li>买家秀</li>
                        <li>好物点评</li>
                    </ul>
                </div>
                <div class="detail-bd">
                    {{each product.details}}
                        {{if $value.path}}
                            <img src="{{$value.path}}" alt="">
                        {{/if}}
                    {{/each}}
                </div>
                <!-- 商品详情介绍结束 -->
            </div>
        </div>
        <!-- 商品详情页专有部分结束 -->
{{/block}} 
