{{extend './layout.html'}}
{{block 'title'}}商品列表页{{/block}}
{{block 'link'}}
<!-- 引入列表页专有的css -->
<link rel="stylesheet" href="/css/product-list.css" />
{{/block}}
{{block 'script'}}
<script src="/js/product-list.js"></script>
{{/block}}
{{block 'content'}}
<!-- 列表页专有部分开始 -->
<div class="main">
			<div class="w">
				<!-- 记录当前位置导航 -->
				<div class="crumb">
					<a href="javascript:;">首页</a><em>&#xe7a7;</em>
					<span>商品列表页</span>
				</div>
				<div class="wrapper">
					<!-- 左侧列表导航开始 -->
					<div class="left-category">
                        <div class="category-title">所有分类
                            <span class="category-title-ico">&#xe612;</span>
                        </div>
                        <div class="category-list">
                            <dl>
                                <dt><a href="/home/list?page=1&searchCategory=手机通讯">手机通信</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">全屏手机</a></dd>
                            </dl>
                            <dl>
                                <dt><a href="/home/list?page=1&searchCategory=食品生鲜">食品生鲜</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">水果</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="/home/list?page=1&searchCategory=汽车保养">汽车保养</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">蓄电池</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="/home/list?page=1&searchCategory=内衣配饰">内衣配饰</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">大牌文胸</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="/home/list?page=1&searchCategory=母婴童装">母婴童装</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">奶粉</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="/home/list?page=1&searchCategory=美妆护肤">美妆护肤</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">防晒</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="/home/list?page=1&searchCategory=酒水饮料">酒水饮料</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">白酒</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="/home/list?page=1&searchCategory=个护清洁">个护清洁</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">花露水</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="/home/list?page=1&searchCategory=家用电器">家用电器</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">电水壶</a></dd>
                                <dd><a href="javascript:;">电饼档</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="/home/list?page=1&searchCategory=电脑耗材">电脑耗材</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">机械键盘</a></dd>
                                <dd><a href="javascript:;">吃鸡装备</a></dd>
                            </dl>

                        </div>
                    </div>
					<!-- 左侧列表导航结束 -->

					<!-- 右侧商品展现开始 -->
                    <div class="right-goods">
                        <div class="right-goods-hd">
                            <a href="/home/list?page=1&searchCategory={{searchCategory}}" class="sort-default {{!up && !dec ? 'sort-active':''}}">默认排序</a>
                            <button class="sort-price {{up || dec ? 'sort-active':''}}">按价格
                                <a href="/home/list?page=1&up=1&searchCategory={{searchCategory}}" class="sort-price-top {{up ? 't':''}}"></a>
                                <a href="/home/list?page=1&dec=1&searchCategory={{searchCategory}}" class="sort-price-bottom {{dec ? 'b':''}}"></a>
                            </button>
                        </div>
                        <div class="right-goods-bd">
                            {{each pros}}
                            <a href="/home/product-detail?productId={{$value.id}}" class="goods-box">
                                <img src="{{$value.images[0].path}}" class="goods-img" />
                                <p class="goods-title">
                                    {{$value.title}}
                                </p>
                                <div class="goods-price">
                                    ￥{{$value.price}}
                                </div>
                                <div class="goods-sold">
                                    <span class="goods-sold-num">{{$value.sold}}</span>人已购买
                                </div>
                            </a>
                            {{/each}}
                           
                        </div>
                        <!-- 分页器 -->
                        <div class="pagination">
                            <ul>
                                {{if page > 1}}
                                <li>
                                    <a href="/home/list?page={{page-1}}&searchCategory={{searchCategory}}&up={{up}}&dec={{dec}}">上一页</a>
                                </li>
                                {{/if}}

                                {{each pages}}
                                <li>
                                    <a href="/home/list?page={{$value}}&searchCategory={{searchCategory}}&up={{up}}&dec={{dec}}" class="{{$value == page ? 'page-active':''}}">{{$value}}</a>
                                </li>
                                {{/each}}
                               
                                {{if page-0 != pages.length - 0}}
                                <li>
                                    <a href="/home/list?page={{page-0+1}}&searchCategory={{searchCategory}}&up={{up}}&dec={{dec}}">下一页</a>
                                </li>
                                {{/if}}
                            </ul>
                            <span>{{page}}/{{pages.length}}</span>
                        </div>
                    </div>
                    <!-- 右侧商品展现结束 -->
				</div>

				
			</div>
</div>
<!-- 列表页专有部分结束 -->
{{/block}}