{{extend './layout.html'}}
{{block 'title'}}商品列表页{{/block}}
{{block 'link'}}
<!-- 引入列表页专有的css -->
<link rel="stylesheet" href="/css/product-list.css" />
{{/block}}
{{block 'script'}}
<script src="/js/product-list.js"></script>
{{/block}}
{{block 'content'}}
<!-- 列表页专有部分开始 -->
<div class="main">
			<div class="w">
				<!-- 记录当前位置导航 -->
				<div class="crumb">
					<a href="javascript:;">首页</a><em>&#xe7a7;</em>
					<span>商品列表页</span>
				</div>
				<div class="wrapper">
					<!-- 左侧列表导航开始 -->
					<div class="left-category">
                        <div class="category-title">所有分类
                            <span class="category-title-ico">&#xe612;</span>
                        </div>
                        <div class="category-list">
                            <dl>
                                <dt><a href="javascript:;">手机通信</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">全屏手机</a></dd>
                            </dl>
                            <dl>
                                <dt><a href="javascript:;">食品生鲜</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">水果</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="javascript:;">汽车保养</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">蓄电池</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="javascript:;">内衣配饰</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">大牌文胸</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="javascript:;">母婴童装</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">奶粉</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="javascript:;">美妆护肤</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">防晒</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="javascript:;">酒水饮料</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">白酒</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="javascript:;">个护清洁</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">花露水</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="javascript:;">家用电器</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">电水壶</a></dd>
                                <dd><a href="javascript:;">电饼档</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="javascript:;">电脑耗材</a><span class="fold">-</span></dt>
                                <dd><a href="javascript:;">机械键盘</a></dd>
                                <dd><a href="javascript:;">吃鸡装备</a></dd>
                            </dl>

                        </div>
                    </div>
					<!-- 左侧列表导航结束 -->

					<!-- 右侧商品展现开始 -->
                    <div class="right-goods">
                        <div class="right-goods-hd">
                            <button class="sort-default sort-active">默认排序</button>
                            <button class="sort-price">按价格
                                <span class="sort-price-top t"></span>
                                <span class="sort-price-bottom"></span>
                            </button>
                        </div>
                        <div class="right-goods-bd">
                            <a href="javascript:;" class="goods-box">
                                <img src="/upload/1587973772260.jpg" class="goods-img" />
                                <p class="goods-title">
                                    宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                                </p>
                                <div class="goods-price">
                                    ￥1599<span class="goods-price-old">￥1699</span>
                                </div>
                                <div class="goods-sold">
                                    <span class="goods-sold-num">12</span>人已购买
                                </div>
                            </a>
                            <a href="javascript:;" class="goods-box">
                                <img src="/upload/1587973772260.jpg" class="goods-img" />
                                <p class="goods-title">
                                    宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                                </p>
                                <div class="goods-price">
                                    ￥1599<span class="goods-price-old">￥1699</span>
                                </div>
                                <div class="goods-sold">
                                    <span class="goods-sold-num">12</span>人已购买
                                </div>
                            </a>
                            <a href="javascript:;" class="goods-box">
                                <img src="/upload/1587973772260.jpg" class="goods-img" />
                                <p class="goods-title">
                                    宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                                </p>
                                <div class="goods-price">
                                    ￥1599<span class="goods-price-old">￥1699</span>
                                </div>
                                <div class="goods-sold">
                                    <span class="goods-sold-num">12</span>人已购买
                                </div>
                            </a>
                            <a href="javascript:;" class="goods-box">
                                <img src="/upload/1587973772260.jpg" class="goods-img" />
                                <p class="goods-title">
                                    宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                                </p>
                                <div class="goods-price">
                                    ￥1599<span class="goods-price-old">￥1699</span>
                                </div>
                                <div class="goods-sold">
                                    <span class="goods-sold-num">12</span>人已购买
                                </div>
                            </a>
                            <a href="javascript:;" class="goods-box">
                                <img src="/upload/1587973772260.jpg" class="goods-img" />
                                <p class="goods-title">
                                    宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                                </p>
                                <div class="goods-price">
                                    ￥1599<span class="goods-price-old">￥1699</span>
                                </div>
                                <div class="goods-sold">
                                    <span class="goods-sold-num">12</span>人已购买
                                </div>
                            </a>
                            <a href="javascript:;" class="goods-box">
                                <img src="/upload/1587973772260.jpg" class="goods-img" />
                                <p class="goods-title">
                                    宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                                </p>
                                <div class="goods-price">
                                    ￥1599<span class="goods-price-old">￥1699</span>
                                </div>
                                <div class="goods-sold">
                                    <span class="goods-sold-num">12</span>人已购买
                                </div>
                            </a>
                            <a href="javascript:;" class="goods-box">
                                <img src="/upload/1587973772260.jpg" class="goods-img" />
                                <p class="goods-title">
                                    宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                                </p>
                                <div class="goods-price">
                                    ￥1599<span class="goods-price-old">￥1699</span>
                                </div>
                                <div class="goods-sold">
                                    <span class="goods-sold-num">12</span>人已购买
                                </div>
                            </a>
                            <a href="javascript:;" class="goods-box">
                                <img src="/upload/1587973772260.jpg" class="goods-img" />
                                <p class="goods-title">
                                    宏碁 (Acer) 极光 D606D 投影仪 投影机办公投影机
                                </p>
                                <div class="goods-price">
                                    ￥1599<span class="goods-price-old">￥1699</span>
                                </div>
                                <div class="goods-sold">
                                    <span class="goods-sold-num">12</span>人已购买
                                </div>
                            </a>
                        </div>
                        <div class="pagination">
                            <ul>
                                <li>
                                    <a href="#">上一页</a>
                                </li>
                                <li>
                                    <a href="#" class="page-active">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">下一页</a>
                                </li>
                            </ul>
                            <span>1/2</span>
                        </div>
                    </div>
                    <!-- 右侧商品展现结束 -->
				</div>

				
			</div>
</div>
<!-- 列表页专有部分结束 -->
{{/block}}