{{extend './layout.html'}}
{{block 'title'}}购物车{{/block}}

	{{block 'link'}}
    <!-- 引入购物车页面css -->
    <link rel="stylesheet" href="/css/shop-car.css">
    {{/block}}
    {{block 'script'}}
    <script src="/js/shop-car.js"></script>
    {{/block}}
    {{block 'content'}}
        <!-- 购物车页面专有部分开始 -->
        <div class="main">
            <div class="w">
                <!-- 记录当前位置导航 -->
                <div class="crumb">
                    <a href="javascript:;">首页</a><em>&#xe7a7;</em>
                    <span>购物车</span>
                </div>
                <!-- 购物车头部 -->
                <div class="shop-hd">
                    <input type="checkbox" class="select-all se-hd">
                    <ul class="shop-hd-left">
                        <li>全选</li>
                        <li>商品</li>
                    </ul>
                    <ul class="shop-hd-right">
                        <li>单价</li>
                        <li>数量</li>
                        <li>小计</li>
                        <li>操作</li>
                    </ul>
                </div>
                <!-- 购物车商品展示主体部分 -->
                <div class="shop-bd">
                    <ul>
                        <li>
                            <input type="checkbox" class="select-one">
                            <img src="/upload/1587973772260.jpg" alt="" class="select-img">
                            <a href="#" class="select-title">索尼（SONY）KD-55X8000G 55英寸 4K超高清 HDR 智能网络 液晶平板电视 智能语音 安卓7.0 蓝牙/WiFi 颜色:白色;</a>
                            <span class="select-price">￥10</span>
                            
                            <span class="count-reduce">-</span>
                            <input type="text" class="count" value="1" oninput="value=value.replace(/[^\d]/g,'')" disabled>
                            <span class="count-add">+</span>
                            <span class="totle">￥10</span>
                            <a href="#" class="del-product">删除<span class="del-ico">&#xe62c;</span></a>
                        </li>
                        <li>
                            <input type="checkbox" class="select-one">
                            <img src="/upload/1587973772260.jpg" alt="" class="select-img">
                            <a href="#" class="select-title">索尼（SONY）KD-55X8000G 55英寸 4K超高清 HDR 智能网络 液晶平板电视 智能语音 安卓7.0 蓝牙/WiFi 颜色:白色;</a>
                            <span class="select-price">￥20</span>
                            
                            <span class="count-reduce">-</span>
                            <input type="text" class="count" value="1" oninput="value=value.replace(/[^\d]/g,'')" disabled>
                            <span class="count-add">+</span>
                            <span class="totle">￥20</span>
                            <a href="#" class="del-product">删除<span class="del-ico">&#xe62c;</span></a>
                        </li>
                        <li>
                            <input type="checkbox" class="select-one">
                            <img src="/upload/1587973772260.jpg" alt="" class="select-img">
                            <a href="#" class="select-title">索尼（SONY）KD-55X8000G 55英寸 4K超高清 HDR 智能网络 液晶平板电视 智能语音 安卓7.0 蓝牙/WiFi 颜色:白色;</a>
                            <span class="select-price">￥1100</span>
                            
                            <span class="count-reduce">-</span>
                            <input type="text" class="count" value="1" oninput="value=value.replace(/[^\d]/g,'')" disabled>
                            <span class="count-add">+</span>
                            <span class="totle">￥1100</span>
                            <a href="#" class="del-product">删除<span class="del-ico">&#xe62c;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- 购物车底部合计价格部分 -->
                <div class="shop-foo">
                    <input type="checkbox" class="select-all se-bd">
                    <ul>
                        <li>全选</li>
                        <li>
                            <a href="#" class="del-seclect">删除选中
                                <span class="del-seclect-ico">&#xe626;</span>
                            </a>
                        </li>
                    </ul>
                    <button>去结算</button>
                    <span class="price-totle-number">￥0</span>
                    <span class="price-totle">总价：</span>
                </div>
            </div>
        </div>
        <!-- 购物车页面专有部分结束 -->
    {{/block}}

