{{extend './layout.html'}}
        {{block 'title'}}用户中心{{/block}}
        {{block 'link'}}
        <!-- 引入用户界面公共样式 -->
        <link rel="stylesheet" href="/css/user-common.css">
		<!-- 引入用户中心页专有的css -->
        <link rel="stylesheet" href="/css/user-center.css" />
        {{/block}}
        {{block 'content'}}
        <!-- 用户中心页专有部分开始 -->
        <div class="main">
            <div class="w">
                <!-- 记录当前位置导航 -->
				<div class="crumb">
					<a href="javascript:;">首页</a><em>&#xe7a7;</em>
					<span>用户中心</span>
                </div>
                <div class="wrapper">
                    <!-- 侧边导航 -->
                    <div class="slide-nav">
                        <ul>
                            <li><a href="/home/user-center" class="{{userCurrentPage =='userCenter' ? 'slide-nav-active' : ''}}">用户中心 <span class="slide-nav-ico">&#xe602;</span></a></li>
                            <li><a href="/home/user-settings">基本设置 <span class="slide-nav-ico">&#xe62d;</span></a></li>
                            <li><a href="/home/my-order">我的订单 <span class="slide-nav-ico">&#xe634;</span></a></li>
                            <li><a href="/home/modify-password">修改密码 <span class="slide-nav-ico">&#xe644;</span></a></li>
                        </ul>
                    </div>
                    <!-- 右侧内容 -->
                    <div class="right-con">
                        <div class="right-con-hd">
                            <div class="user-img"><img src="/images/fcac4dc411a64d5ab69308bdcc8d287f!400x400.jpg" alt=""></div>
                            <p>15936389235</p>
                        </div>
                        <ul>
                            <li>手机 15936389235 <span class="right-con-ico">&#xe61c;</span></li>
                            <li>电子邮件 <span class="right-con-ico">&#xe61b;</span></li>
                            <li>订单数 1 <span class="right-con-ico">&#xe634;</span></li>
                            <li>注册时间 2020/7/23 上午9:34:32<span class="right-con-ico">&#xe62e;</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 用户中心页专有部分结束 -->
        {{/block}}
