.wrap {
  width: 100%;
  border: 1px solid #e6eef2;
  border-right: 0;
  margin-top: 5px;
}
.wrap .wrap-line {
  width: 100%;
  height: 42px;
  line-height: 42px;
  margin: 15px 0;
}
.wrap-left {
  float: left;
  width: 120px;
  height: 40px;
  margin-right: 20px;
}
.w610 {
  width: 610px;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  padding-left: 10px;
  font-size: 14px;
  color: #666;
}
.w185 {
  width: 185px;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  font-size: 14px;
  color: #666;
  padding-left: 10px;
}
.wrap-left label {
  float: right;
  font-size: 14px;
  color: #333;
}
.wrap-right {
  float: left;
  height: 40px;
  position: relative;
  display: block;
}
.guige-item {
  position: relative;
  box-sizing: border-box;
  float: left;
  height: 32px;
  background-color: #17b2f0;
  color: #fff;
  font-size: 14px;
  padding: 0 8px;
  line-height: 32px;
  margin: 4px 8px 0 0;
  border-radius: 4px;
}
/* .item-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  overflow: hidden;
  background-color: pink;
} */
.item-del {
  background-color: #ff0011;
  left: 0;
  border-radius: 4px;
}
.item-del {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  color: #fff;
  user-select: none;
  display: none;
}
/* .item-edit {
  background-color: #17b2f0;
  color: #fff;
  left: 50%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
} */
.guige-text {
  float: left;
  width: 90px;
  height: 32px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-top: 4px;
  padding-left: 5px;
  display: none;
  box-sizing: border-box;
}
.guige-add {
  float: left;
  background-color: #009688;
  color: #fff;
  border: 0;
  outline: none;
  width: 80px;
  height: 32px;
  border-radius: 3px;
  margin: 4px 0 0 10px;
  cursor: pointer;
  text-align: center;
  line-height: 32px;
  user-select: none;
  font-size: 14px;
}

.wrap .wrap-line:last-of-type {
  height: 80px;
  line-height: 80px;
}
.pro-img-box {
  position: relative;
  float: left;
  width: 70px;
  height: 70px;
  margin-top: 5px;
  border: 1px solid #eee;
  margin-right: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.pro-img-del {
  position: absolute;
  top: 45px;
  left: 0;
  width: 70px;
  height: 25px;
  background-color: rgba(0,0,0,.45);
  border-bottom: 1px solid #fff;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  display: none;
}
.pro-img-edit {
  position: absolute;
  left: 0;
  top: 45px;
  background-color: #17b2f0;
  width: 70px;
  height: 25px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  user-select: none;
}
.pro-file {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 25px;
  opacity: 0;
  cursor: pointer;
}
.pro-img {
  width: 100%;
  height: 100%;
  display: none;
  user-select: none;
}
.img-add,
.img-cancel {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  width: 70px;
  height: 70px;
  border: 1px solid #eee;
  cursor: pointer;
  font-family: 'iconfont';
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  color: #999;
  user-select: none;
}
.img-cancel {
  display: none;
  user-select: none;
}
.sub-btn {
  width: 55px;
  height: 34px;
  border: 0;
  outline: none;
  background-color: #009688;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  margin: 10px 0 10px 140px;
  cursor: pointer;
}
/* 用户编辑页面的样式 */
.user-img {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
}
.user-img img {
  width: 80px;
  height: 80px;
}
.user-img-change {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 24px;
  background-color: rgba(0,0,0,.45);
  text-align: center;
  line-height: 24px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.user-img-change input {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 24px;
  opacity: 0;
  cursor: pointer;
}