/* 搜索查找部分 */
.searchBox select,
.searchBox button,
.searchBox input {
    float: left;
}
.searchBox select {
    width: 120px;
    color: #111;
    height: 30px;
    margin: 7px 0 0 5px;
}
#methods-btn,
#num-btn {
    font-family: 'iconfont';
    background-color: #009688;
    border: 0;
    outline: none;
    width: 80px;
    height: 30px;
    margin: 7px;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
#num {
    
}
/* 表格部分 */
table {
    margin-top: 15px;
    width: 100%;
    /* table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word; */
}
.main-con table tr:first-child {
    background-color: #393d49;
    color: #fff;
    opacity: .8;
}
table tr:nth-child(2n + 1) {
    background-color: #f2f2f2;
}
table tr:first-child td {
    height: 35px;
    line-height: 35px;
}
table td {
    position: relative;
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
    height: 70px;
    line-height: 70px;
}
tr td p {
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
tr td:nth-child(1),
tr td:nth-child(2) {
    width: 245px;
}
tr td:nth-child(1) p,
tr td:nth-child(2) p {
    width: 235px;
}
tr td:nth-child(3) {
    width: 90px;
}
tr td:nth-child(3) p {
    width: 80px;
}
tr td:nth-child(4) {
    width: 230px;
}
tr td:nth-child(4) p {
    width: 220px;
}
tr td:nth-child(4) p span {
    background-color: #ddd;
    padding: 3px 4px;
}
tr td:nth-child(5),
tr td:nth-child(6),
tr td:nth-child(8) {
    width: 70px;
}
tr td:nth-child(5) p,
tr td:nth-child(6) p,
tr td:nth-child(8) p {
    width: 60px;
}
table img {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    width: 60px;
    height: 60px;
}
.pro-status {
    background-color: #1e9fff;
    padding: 2px 4px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}
.edit-product,
.del-product {
    font-family: 'iconfont';
    color: #111;
    margin: 0 5px;
}